div#pane-side {
    background-color: white;
}
._3OvU8 {
    background-color: black;
}
span.ggj6brxn.gfz4du6o.r7fjleex.g0rxnol2.lhj4utae.le5p0ye3.l7jjieqr.i0jNr {
    color: aqua;
}
.HONz8 {
    background-color: black;
}




/* ._22Msk {
    background-color: brown;
}
span.i0jNr.selectable-text.copyable-text {
    color: azure;
}
span._3nrYb {
    filter: invert(23%) sepia(99%) saturate(2151%) hue-rotate(258deg) brightness(100%) contrast(112%)
}
._1UyGr._18oGY {
    filter: invert(23%) sepia(99%) saturate(2151%) hue-rotate(
258deg) brightness(100%) contrast(112%);
}
.-gKwI {
    background-color: crimson;
} */


.message-in._22Msk{
    background-color: cornflowerblue;
}

.message-out._22Msk{
    background-color:aliceblue;
}

/*background*/
.y8WcF {
    background-color: brown;
}


/* ._3EZ_R._3ojyC {
    background-color: cornflowerblue;
    color: #000;
}
.buoZm{
    background-color: cornflowerblue;
    color: #000;
}
.qkl8S._2HVTy.gZn4L._37jeB {
    background-color: brown;
} */